target/m2e-wtp/web-resources/META-INF/maven/com.showpping/mall/pom.properties~62fc7b82f7bc8611f5bc0899e234af8a9359575c
target/m2e-wtp/web-resources/META-INF/maven/com.showpping/mall/pom.properties
src/main/webapp/WEB-INF/spring/appServlet/servlet-context.xml
